<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OITReporting.Manager.Properties.Settings.OITReportingConnectionString"
            connectionString="Data Source=VIRPALSINH;Initial Catalog=OITReporting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OITReporting.Manager.Properties.Settings.dbIOTReportingConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbIOTReporting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>